# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
logs/

# IDE
.classpath
.project
.settings/
*.iml
.idea/
.vscode/

# System
.DS_Store
Thumbs.db

# Environment
.env
application-*.yml
application-*.properties
